.content
  .chat-main--group-info
    .group-name
      = @group.name
      .member
        Member :
        - @group.users.each do |gname|
          = gname.name

    .edit-btn
      = link_to "Edit", edit_group_path(@group.id)

  .chat-main--message-list      
    = render @messages
      

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__message', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          -# = icon('fas', 'image', class: 'strong')
          -# = icon('fas', 'edit', class: 'strong')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-btn'

        