.side-bar
  .side-bar-user-name
    .items
      = current_user.name
      .top-items--icons
        = link_to do
          = icon('fas', 'edit', class: 'strong')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'strong')
        
    .sample1
      techcamp
    .sample2
      まだメッセージがありません